*{
    margin: 0px;
    padding: 0px;
}


.btn-primary{
    background-color: palevioletred;
    color: white;
    border-radius: 5px;
    font-size: 14px;

    font-weight: 700;
    align-items: center;
    padding: 20px;
    border: none;
}
.title-p1{
    color: #272727;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 800;

}
.description{
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;

}
.sec-1{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 0px 80px;
    margin: 0px;
    font-size: 5px;
}
.image-p1{
  width: 335px;
  height: 400px;

}
.titlepart2{
    text-align: center;
}
.flower-sample{
    height: 250px;
    width: 190px;
    align-items: center;
}
.flowers{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.allflower{
    text-align: center;
    background-color:pink;
    border-radius: 5000px;
    padding: 20px 20px 0px 20px;
}
.menu-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgba(229, 84, 115, 0.10);
    background-position: center;
    margin:10px 90px 10px 50px ;
    padding: 30px 30px 30px 30px;
   
}
.menu1{
    text-align: center;
    padding: 20px;
}
.menu2{
    width: 88px;
    height: 88px;
}
span{
    color: #E55473;
}
.menu-section-2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px 150px 30px 150px;
    background-color: #E554730D;
    margin: 10px 90px 10px 50px;
}
.menu-image{
    width: 150px;
    height: 220px;
}
.menu-section2-text{
    text-align: center;

}
.menu-section-3{
    
    align-items: center;
    justify-content: space-around;
    
    margin: 10px 90px 10px 50px;

}

.ms3-title{
text-align: center;
}
.ms3-images{
    display: flex;
    padding: 20px 20px 20px 180px;
    width: 250px;
    height: 250px;
    margin: 10px 90px 10px 60px;
 
    
}
.ms3i{
    padding: 0px 20px 0px 20px;
}
.last{
    display: flex;
    align-items: center;
}
.menu-section-4{
    text-align: center;
    background-image: url("/images/Rectangle 9.png");
    background-repeat: no-repeat;
    margin: 70px 80px 70px 50px ;
    border-radius: 10px;
    justify-content: center;
    padding: 80px;
    align-items: center;
}
.container{
    text-align: center;
}
.input-box{
    align-items: center;
}
.hp{
    padding: 30px;
}

.footer2{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 15px;
}
.footer1{
    font-size: 30px;
    text-align: center;
    color: aliceblue;
    padding: 10px 10px 10px 10px;
}
.footer3{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    padding: 10px;
}
.footer{
    background-color:black;
    height: 300px;
    width: 1600px;
    padding: 40px 40px 40px 0px;
    text-align: center;  
}



form{
    background: white;
    width: 450px;
    height: 50px;  
    display: flex;
    
}
form input{
   flex: 1;
   border: none;
   outline: none;
   align-items: center;
   padding: 15px;
  
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

form button{
    background-color: #E55473;
    padding: 15px;
    border: none;
    outline: none;
    letter-spacing: 1px;
    color: aliceblue;
    border-radius: 5px;
}